<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.10.0" newVersion="1.8.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!-- In the value fill out your AWS access key ID.-->
    <add key="access_key_id" value="access_key_id" />
    <!-- In the value fill out your AWS secret.-->
    <add key="secret_access_key" value="secret_access_key" />
    <!-- In the value fill out the bucket name which should be used.-->
    <add key="bucketname" value="bucketname" />
  </appSettings>
</configuration>